<div *ngIf="errorMessage" class="text-center" style="color: green;">
  <span
    ><b>{{ errorMessage }}</b></span
  >
</div>
<div [formGroup]="group" id="sampleForm" class="card m-auto p-5">
  <input
    id="name"
    formControlName="name"
    type="text"
    class="w-100 form-control m-2"
    placeholder="Enter Name"
  />
  <input
    id="salary"
    formControlName="salary"
    type="number"
    class="w-100 form-control m-2"
    placeholder="Enter Salary"
  />
  <button type="submit" class="btn btn-primary m-2" (click)="submitForm()">
    Submit
  </button>
</div>
